{%extends "base.html" %}

{%block content%}

<a href={{url_for('pdf_generator_transactions')}}> <img style="float:right; " src={{ url_for('static', filename='img/PDF-ICON.png' )
}} data-toggle="tooltip" data-placement="top" title="Generate PDF" /> </a>

<div class="table-container">
  
  <table id="myTable" class="table table-striped">

    <thead>

      <tr>
     
        <th scope="col">ID Transazione </th>
        <th scope="col">Tipologia</th>
        <th scope="col">Data</th>
        <th scope="col">Blocco</th>
    
      </tr>

    </thead>

    <tbody>
       {% for tx in listTransactions %}
            <tr>
                <td>{{tx['txid']}}</td>
                <td>{{tx['tags'][0].capitalize()}}</td>
                <td>{{datetime.fromtimestamp(tx['blocktime'])}}</td>
                <td>{{tx['blockheight']}}</td>
            </tr>
       {% endfor %}
    </tbody>

  </table>
  
</div>
{%endblock%}