#main-dashboard-page-container{
    max-width: 100vw;
    overflow-x: hidden;
}

.main-dashboard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.chart-and-analytics{
    max-width: 100vw;
    width: 100vw;
    padding: 5vh 8vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: space-between;
    column-gap: 20px;
}

.barchart-container{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.analytics-container{
    flex-basis: 40%;

    position: relative;
    right: 15px;
}

.analytics-title{
    margin: 0;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 600;
    padding: 0;
    color: #00008B;
    text-align: center;
    position: relative;
    top: 12px;
}

.analytics-cards-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    row-gap: 50px;
    flex-wrap: wrap;
}

.analytics-card{
    min-height: 50px;
    flex-basis: 40%;
    background-color: #f9f9f9;
    border-radius: 5%;
    box-shadow: 7px 8px 11px 6px rgba(0,0,0,0.15);
}

.piechart-container{
    margin-top: 75px;
}

#filters{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#filters button{
    position: relative;
    top: 9px;
}

#filters button:hover{
    transform: scale(101%);
    cursor: pointer;
}

#filters label{
    color: #a1a1a1;
}

.analytics-card-title{
    color: #00008B;
    padding-left: 3%;
    padding-top: 3%;
    font-weight: 600;
    font-size: 15px;
}

.analytics-list{
    list-style-type: none;
    padding-left: 6%;
    font-size: 12px;
}

.piechart-title{
    text-align: center;
    color: #00008B;
    font-size: 25px;
    font-weight: 600;
}

#test{
    color: black;
}