{%extends "base.html" %}

{%block content%}

<a href={{url_for('pdf_generator')}} > <img class="pdf-icon" src={{ url_for('static', filename='img/PDF-ICON.png') }}  data-toggle="tooltip" data-placement="top" title="Generate PDF" />   </a>

<h2 class="generic-title title-centered">Assets {{operazione}}</h2>

<div class="assets-table-container">
    <table id="myTable"  class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome Utente </th>
            <th style="width: 145px;" scope="col">Data Transazione</th>
            <th style="width: 195px;" scope="col">Tipo Operazione effettuata </th>
            <th scope="col">Descrizione</th>
            <th scope="col">Stato</th>
            <th scope="col">Indirizzo Blockchain </th>
          </tr>
        </thead>
        <tbody>

            {% for asset in listAssets %}

        <tr>
            <td> <a href={{ url_for('assetDetail',  assetid = loop.index0,  ) }}>{{asset['name'].partition("-")[0] }}</a></td>
            <!-- <td> <a href={{ url_for('pdf_generatordetails', assetid = loop.index0,  ) }}> </a></td> -->
            <td>{{asset['name'][-19:] }}</td>
            <td>{{asset['details']['tipo_oprazione'] }}</td>
            <td>{{asset['details']['descrizione'] }}</td>
            {% if asset['details']['tipo_oprazione']=="Cambio Stato Fascicolo"%}
            <td>{{asset['details']['statoNew'] }}</td>
            {% elif asset['details']['tipo_oprazione']=="Cancellazione Messaggio Fascicolo"%}
            <td>{{asset['details']['statoCancellazione'] }}</td>
            {% elif asset['details']['tipo_oprazione']=="Cancellazione Alert Fascicolo"%}
            <td>{{asset['details']['statoCancellazione'] }}</td>
            {% elif asset['details']['tipo_oprazione']=="Caricamento Nuovo Documento nel Fascicolo"%}
            <td></td>
            {% elif asset['details']['tipo_oprazione']=="Modifica Documento nel Fascicolo"%}
            <td></td>
            {% elif asset['details']['tipo_oprazione']=="Visualizzazione Documento nel Fascicolo"%}
            <td></td>
            {% elif asset['details']['tipo_oprazione']=="Cancellazione Documento nel Fascicolo"%}
            <td>{{asset['details']['statoDocumento'] }}</td>
            {% elif asset['details']['tipo_oprazione']=="Conferma Lettura Messagio nel Fascicolo"%}
            <td>{{asset['details']['statoLettura'] }}</td>
            {% elif asset['details']['tipo_oprazione']=="Spegnimento Alert del Fascicolo"%}
            <td>{{asset['details']['statoLettura'] }}</td>
            {% elif asset['details']['tipo_oprazione']=="Nuovo Messaggio nel Fascicolo"%}
            <td></td>
            {% elif asset['details']['tipo_oprazione']=="Nuovo Alert nel Fascicolo"%}
            <td></td>
            {% elif asset['details']['tipo_oprazione']=="Modifica Messaggio nel Fascicolo"%}
            <td></td>
            {% elif asset['details']['tipo_oprazione']=="Modifica Alert nel Fascicolo"%}
            <td></td>
            {% elif asset['details']['tipo_oprazione']=="Nuovo Scoring del Fascicolo"%}
            <td>{{asset['details']['scoreNew'] }}</td>
            
            {%endif%}
            <td> 13sTd6nVoFxLJek1Lg3eC9BUno8fEHqZSX</td>
        </tr>
        {% endfor %} 
        </tbody>
      </table>
</div>

{% if previous_url and previous_url != 'None' %}
    <div class="previous-url-button">
        <a href={{previous_url}}>Indietro</a>
    </div>
{% endif %}

{%endblock%}


{%block script_after%}
    <script>
      $(document).ready(function () {
        $('#myTable').DataTable({
          "paging": true // false to disable pagination (or any other option)
        });
        $('.dataTables_length').addClass('bs-select');
      });
    </script>
{%endblock%}