<header>
    <div class="header-asset-container">
        <a  class="header-asset-container" href='/'}}>
        
        <img id="classifai-logo" src={{ url_for('static', filename='img/Logo_ClassifAi_sfondoChiaro.png' )}} alt="ClassifAI">
    </a>
    </div>
    <div class="header-asset-container">
        <p style="width: 150px;"> <span></span></p>
    </div>
    <div class="header-asset-container">
        <img id="mediatica-logo" src= {{ url_for('static', filename='img/mediaticalogo.png') }} alt="Mediatica">
    </div>
</header>