<nav class="main-navbar">
    <ul class="main-nav-list">
        <li><a href="/">Home</a></li>
        <li><a href= {{ url_for('chain') }}>Info Blockchain</a></li>
        <li><a href= {{ url_for('blocks') }}>Blocchi</a></li>
        <li><a href= {{ url_for('transactions')}}>Transazioni</a></li>
        <li><a href= {{ url_for('assets') }}>Assets</a></li>
        <li><a href= {{ url_for('streams') }}>Streams</a></li>
        <li><a href= {{ url_for('addresses') }}>Indirizzi</a></li>
    </ul>
</nav>